{% extends 'landing/base.html.twig' %}

{% block body %}
    <p>przykro nam użytkowniku, ale albo nie dokończyłeś aktywacji konta, albo coś poszło nie tak z twoim kontem. W razie problemów technicznych prosimy Ciebie o kontakt z działem obsługi klienta.</p>
{% endblock %}