{% extends 'landing/base.html.twig' %}

{% block title %}Dezaktywowany link{% endblock %}

{% block main %}

    <div class="container1">
        <h1><center>W celu zmiany hasła, proszę podać nowe hasło.</center></h1>
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <center>
                    {{ form_start(form,{'attr':{'class':'form-material m-t-40'}}) }}
                    {{ form_end(form) }}
                </center>
            </div>
        </div>
    </div>
{% endblock %}