{% extends 'base.html.twig' %}
{% block body %}
    {% if not app.user %}

        <center>
            <div class="container1">
                <a class="button" href="{{ path('app_login') }}">Zaloguj się</a>
                <a class="button" href="{{ path('app_register') }}">Zarejestruj się</a>
            </div>
        </center>

    {% endif %}
{% endblock %}